
# Import Python libraries.

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.metrics import accuracy_score,f1_score
from sklearn import svm

# Import Datasets

In [18]:
train_data = pd.read_csv("train_encoded_folds.csv").drop("ID",axis=1)
test_data = pd.read_csv("test_encoded.csv").drop("ID",axis=1)

In [19]:
train_data.head()

,sex,Aged,Married,TotalDependents,ServiceSpan,MobileService,4GService,CyberProtection,HardwareSupport,TechnicalAssistance,FilmSubscription,QuarterlyPayment,GrandPayment,CustomerAttrition,SettlementProcess_Bank,SettlementProcess_Card,SettlementProcess_Check,SettlementProcess_Electronic,kfold
0,0,0,0,1,48,1,2,0,1,1,0,96.259802,4628.129119,1,0,0,1,0,0
1,1,0,1,0,45,1,2,0,0,0,1,18.876470,922.085998,0,1,0,0,0,6
2,1,1,1,0,59,1,2,1,0,1,0,106.016057,6205.891129,1,0,1,0,0,2
3,1,0,0,0,14,1,2,0,0,0,0,80.108839,1248.655391,0,0,0,1,0,5
4,0,0,1,1,25,1,2,0,1,0,1,51.529773,1285.321277,0,0,0,1,0,6

In [20]:
test_data.head(3)

,sex,Aged,Married,TotalDependents,ServiceSpan,MobileService,4GService,CyberProtection,HardwareSupport,TechnicalAssistance,FilmSubscription,QuarterlyPayment,GrandPayment,SettlementProcess_Bank,SettlementProcess_Card,SettlementProcess_Check,SettlementProcess_Electronic
0,1,0,0,0,8,1,2,0,0,0,1,21.299937,151.092519,0,0,1,0
1,0,0,0,0,26,1,1,0,1,0,1,56.609623,1553.276979,0,0,1,0
2,1,0,0,0,66,1,1,0,0,0,1,25.167690,1684.262416,0,1,0,0

# Convert datatype of selected fields.

# Drop the dependent variable from the train/test dataset.

In [21]:
 ytrain = train_data[['CustomerAttrition','kfold']]
 xtrain = train_data.drop(['kfold','CustomerAttrition'],axis=1)

 concat = pd.concat([xtrain,test_data],axis = 0)
 mini = concat.min(axis=0)
 maxi = concat.max(axis=0)
 concat = (concat - mini)/maxi
 xtrain = concat[:len(xtrain)]
 test_data = concat[len(xtrain):]
 train_data = pd.concat([xtrain,ytrain],axis=1)

# Train your model

In [22]:
def train(model,xtrain,ytrain,xval,yval):
    model.fit(xtrain,ytrain)
    y_pred = model.predict(xtrain)
    acc = accuracy_score(ytrain, y_pred)
    f1  = f1_score(ytrain,y_pred)
    print(f'Train acc: {acc} f1: {f1}')
    y_pred = model.predict(xval)
    acc = accuracy_score(yval, y_pred)
    f1  = f1_score(yval,y_pred)
    print(f'Val acc: {acc} f1: {f1}')
    return model,y_pred,acc

def get_pred(model,xtest):
    return model.predict(xtest)

In [25]:
folds = 9

y_test_oof = []
y_pred_oof = []

all_preds = {}

for itr,fold in enumerate(range(folds)):
    X_train = train_data[train_data.kfold != fold].reset_index(drop=True).drop(['kfold'],axis=1)
    X_test  = train_data[train_data.kfold == fold].reset_index(drop=True).drop(['kfold'],axis=1)
    
    y_train = X_train["CustomerAttrition"]
    X_train = X_train.drop("CustomerAttrition",axis=1)
    
    y_test = X_test["CustomerAttrition"]
    X_test = X_test.drop("CustomerAttrition",axis=1)
    
    
    
    print(f"Train size {len(X_train)} | Val size {len(X_test)}")
    print()
    
    
    model=svm.SVC(kernel='linear')
    model,y_pred, acc = train(model,X_train,y_train,X_test,y_test)
    
   
    print(f"Doing Prediction for acc {acc}")
    all_preds[str(acc) + str(itr)] = get_pred(model,test_data)
    
    y_test_oof.extend(y_test)
    y_pred_oof.extend(y_pred)
   
    
    print()

Train size 5634 | Val size 703

Train acc: 0.7900248491302805 f1: 0.5547610086563793
Val acc: 0.7823613086770982 f1: 0.5263157894736842
Doing Prediction for acc 0.7823613086770982

Train size 5635 | Val size 702

Train acc: 0.7929015084294587 f1: 0.5607828377869778
Val acc: 0.7606837606837606 f1: 0.497005988023952
Doing Prediction for acc 0.7606837606837606

Train size 5634 | Val size 703

Train acc: 0.7903798367057153 f1: 0.5524820007578628
Val acc: 0.7823613086770982 f1: 0.5432835820895523
Doing Prediction for acc 0.7823613086770982

Train size 5635 | Val size 702

Train acc: 0.7888198757763976 f1: 0.555306427503737
Val acc: 0.7934472934472935 f1: 0.5482866043613708
Doing Prediction for acc 0.7934472934472935

Train size 5632 | Val size 705

Train acc: 0.7881747159090909 f1: 0.5482771677394926
Val acc: 0.7971631205673759 f1: 0.5545171339563862
Doing Prediction for acc 0.7971631205673759

Train size 5634 | Val size 703

Train acc: 0.7891373801916933 f1: 0.5530474040632054
Val acc: 0.7923186344238976 f1: 0.5705882352941177
Doing Prediction for acc 0.7923186344238976

Train size 5635 | Val size 702

Train acc: 0.7891748003549246 f1: 0.5520361990950226
Val acc: 0.7934472934472935 f1: 0.5592705167173253
Doing Prediction for acc 0.7934472934472935

Train size 5622 | Val size 715

Train acc: 0.787442191390964 f1: 0.5509207065013153
Val acc: 0.7958041958041958 f1: 0.562874251497006
Doing Prediction for acc 0.7958041958041958

Train size 5635 | Val size 702

Train acc: 0.7881100266193434 f1: 0.5497737556561086
Val acc: 0.7962962962962963 f1: 0.5878962536023055
Doing Prediction for acc 0.7962962962962963

In [26]:
oof = accuracy_score(y_test_oof, y_pred_oof)
print('OOF acc: %f' % oof)

sample_sub = pd.read_csv("Sample Submission.csv")
base = np.zeros(len(test_data))
for val in all_preds.values():
    base += np.array(val)


sample_sub['CustomerAttrition'] = 1*(base > (folds//2))

sample_sub.replace({1:'Yes', 0:'No'}, inplace=True)
sample_sub.to_csv("submission_svm_0.788228.csv",index=False)

OOF acc: 0.788228

In [27]:
sample_sub

                       ID CustomerAttrition
0    WMORTPCG3HTIPEFSGUFY                No
1    GBLPEA16C3KGBO57KEFO                No
2    IDCQS0CO5P29AMKY3LO1                No
3    1IY29SDITYU6IFZ4KJB0                No
4    T5XMW5B0YPCONH30WJD2                No
..                    ...               ...
700  8M7JJ5JBQUIA0ORLJ1UU                No
701  WS1T1FLY87G9A1UNKST4               Yes
702  0XG96FS1KXZSULPSGA1X               Yes
703  YR858QHNQMCDBCT9JRP6               Yes
704  IMKOIG7YFZ3KHC2OMFMH                No

[705 rows x 2 columns]